#container {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  justify-content: stretch;
  flex-direction: column;
}

#container > header {
  display: flex;
  justify-self: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;

  background: lightblue;

  padding: 2vh 2vw;
  font-size: 5vh;
}

#container > header span {
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}

#container > main {
  flex-grow: 1;
  padding: 0 5vw;
}

#container > footer {
  flex-grow: 0;
  height: 20vh;
  vertical-align: center;
  background: lightgray;
}

.columns {
  display: flex;
  flex-direction: row;
}

.columns > div {
  flex-grow: 1
}

.servicesList {
  overflow: auto;
  max-height: 50vh;
}