@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url('fonts/Roboto-Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialSymbolsOutlined.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialSymbolsRounded.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "FILL" 1;
  src: url(fonts/MaterialSymbolsRounded.ttf) format('truetype');
}


.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.size-46vh {
  width: 46vh;
}
.h-46vh {
  height: 46vh;
}

.size-46vh mdui-icon {
  font-size: 15vh;
}

/*.size-main, .size-main mdui-icon, .size-main mdui-button-icon {
  font-size: 6vh;
}

.size-main mdui-button-icon {
  width: 8vh;
  height: 8vh;
}*/

.size-main {
  font-size: 7vh;
}

html {
  font-size: 120% !important;
}

body,html {
  background-color: transparent !important;
}

@theme {
  --color-background: rgb(var(--mdui-color-background));
  --color-on-background: rgb(var(--mdui-color-on-background));
  --color-surface: rgb(var(--mdui-color-surface));
  --color-surface-dim: rgb(var(--mdui-color-surface-dim));
  --color-surface-bright: rgb(var(--mdui-color-surface-bright));
  --color-surface-container-lowest: rgb(var(--mdui-color-surface-container-lowest));
  --color-surface-container-low: rgb(var(--mdui-color-surface-container-low));
  --color-surface-container: rgb(var(--mdui-color-surface-container));
  --color-surface-container-high: rgb(var(--mdui-color-surface-container-high));
  --color-surface-container-highest: rgb(var(--mdui-color-surface-container-highest));
  --color-on-surface: rgb(var(--mdui-color-on-surface));
  --color-surface-variant: rgb(var(--mdui-color-surface-variant));
  --color-on-surface-variant: rgb(var(--mdui-color-on-surface-variant));
  --color-inverse-surface: rgb(var(--mdui-color-inverse-surface));
  --color-inverse-on-surface: rgb(var(--mdui-color-inverse-on-surface));
  --color-outline: rgb(var(--mdui-color-outline));
  --color-outline-variant: rgb(var(--mdui-color-outline-variant));
  --color-shadow: rgb(var(--mdui-color-shadow));
  --color-scrim: rgb(var(--mdui-color-scrim));
  --color-surface-tint: rgb(var(--mdui-color-surface-tint-color));
  --color-primary: rgb(var(--mdui-color-primary));
  --color-on-primary: rgb(var(--mdui-color-on-primary));
  --color-primary-container: rgb(var(--mdui-color-primary-container));
  --color-on-primary-container: rgb(var(--mdui-color-on-primary-container));
  --color-inverse-primary: rgb(var(--mdui-color-inverse-primary));
  --color-secondary: rgb(var(--mdui-color-secondary));
  --color-on-secondary: rgb(var(--mdui-color-on-secondary));
  --color-secondary-container: rgb(var(--mdui-color-secondary-container));
  --color-on-secondary-container: rgb(var(--mdui-color-on-secondary-container));
  --color-tertiary: rgb(var(--mdui-color-tertiary));
  --color-on-tertiary: rgb(var(--mdui-color-on-tertiary));
  --color-tertiary-container: rgb(var(--mdui-color-tertiary-container));
  --color-on-tertiary-container: rgb(var(--mdui-color-on-tertiary-container));
  --color-error: rgb(var(--mdui-color-error));
  --color-on-error: rgb(var(--mdui-color-on-error));
  --color-error-container: rgb(var(--mdui-color-error-container));
  --color-on-error-container: rgb(var(--mdui-color-on-error-container));
}
