@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url('fonts/Roboto-Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-display: swap;
}

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialSymbolsRounded.ttf) format('truetype');
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialSymbolsRounded.ttf) format('truetype');
}


.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  /*background-color: var(--hudiy-background);*/
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  /*color: var(--hudiy-onBackground);*/
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.size-46vh {
  width: 46vh;
}
.h-46vh {
  height: 46vh;
}

.size-46vh mdui-icon {
  font-size: 15vh;
}

/*.size-main, .size-main mdui-icon, .size-main mdui-button-icon {
  font-size: 6vh;
}

.size-main mdui-button-icon {
  width: 8vh;
  height: 8vh;
}*/

.size-main {
  font-size: 7vh;
}

html {
  font-size: 120% !important;
}

body,html {
  background-color: transparent !important;
}
